VBox, HBox {
	-fx-background-color: #fffffa;
	-fx-padding: 15;
    -fx-spacing: 10;
    -fx-alignment: center;
}

.text-field {
	-fx-background-color: #99ccff;
	-fx-min-width: 250;
	-fx-min-height: 30;
	-fx-border: 0px;
}

.combo-box {
	-fx-min-width: 250;
	-fx-min-height: 30;
}

.button, .combo-box {
    -fx-text-fill: white;
    -fx-background-color: #99ccff;
}

.button:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.combo-box:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.combo-box .cell {
    -fx-text-fill: white;
    -fx-background-color: #99ccff;
}

.combo-box .cell:hover {
    -fx-background-color: white;
	-fx-text-fill: #99ccff;
}

#backButton {
	-fx-min-width: 50;
	-fx-min-height: 30;
	-fx-border:0;
    -fx-background-color:transparent;
}

#applyButton {
    -fx-background-color: #ffcc66;
}

.slider {
	-fx-min-width: 200;
    -fx-alignment: center;
	-fx-control-inner-background: #ffcc66;
	-fx-padding: 15;
    -fx-spacing: 0;
}
