VBox, HBox {
	-fx-background-color: #B7D5D4;
	-fx-padding: 15;
    -fx-spacing: 10;
    -fx-alignment: center;
}

.text-field {
	-fx-min-width: 250;
	-fx-min-height: 30;
	-fx-border: 0px;
}

.combo-box {
	-fx-min-width: 250;
	-fx-min-height: 30;
}

.button, .combo-box {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#CDCDCD, #77878B);
}

.button:hover {
    -fx-background-color: linear-gradient(#77878B, #CDCDCD);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.combo-box:hover {
    -fx-background-color: linear-gradient(#77878B, #CDCDCD);
}

.combo-box .cell {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#CDCDCD, #77878B);
}

.combo-box .cell:hover {
	-fx-text-fill: #373E40;
    -fx-background-color: white;
}

#backButton {
	-fx-min-width: 50;
	-fx-min-height: 30;
	-fx-border:0;
    -fx-background-color:transparent;
}

#applyButton, #loadButton {
    -fx-background-color: linear-gradient(#364156, #011638);
}

#applyButton:hover, #loadButton:hover {
    -fx-background-color: linear-gradient(#011638, #364156);
}

.slider {
    -fx-alignment: center;
	-fx-control-inner-background: #011638;
	-fx-padding: 15;
    -fx-spacing: 0;
}
