VBox, HBox {
	-fx-background-color: #B7D5D4;
	-fx-padding: 15;
    -fx-spacing: 20;
    -fx-alignment: center; 
}

.text-field {
	-fx-min-width: 250;
	-fx-min-height: 30;
}

.combo-box {
	-fx-min-width: 250;
	-fx-min-height: 30;
}
