VBox {
<<<<<<< HEAD
    -fx-background-color: #77878B;
    -fx-padding: 5;
    -fx-spacing: 15;
=======
	-fx-background-color: #488286;
	-fx-padding: 2;
    -fx-spacing: 2;
    -fx-border-color: black;
>>>>>>> 4830eee48cad9c9bc08919af859ad80102c07b00
    -fx-alignment: center;
    -fx-border-color: black;
}

HBox {
    -fx-background-color: #77878B;
    -fx-padding: 5;
    -fx-spacing: 12;
  /*  -fx-border-color: black;*/
    -fx-alignment: center;
}

.rootPanel {
    -fx-background-color: #488286;
    -fx-padding: 0;
    -fx-spacing: 0;
    -fx-border-color: black;
    -fx-alignment: center;
}

.label {
    -fx-font: bold 18pt "Helvetica";
    /*-fx-text-fill: white;*/
     -fx-alignment: center;
}

.text-field {
	-fx-font-family: "Helvetica";
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#CDCDCD, #77878B);
    	-fx-min-width: 1;
	-fx-min-height: 30;
	-fx-border: 0px;
	-fx-alignment: center;
}

.text-field:hover {
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.combo-box {
	-fx-alignment: center;
}

.button {
        /*-fx-min-width: 200;*/
        -fx-min-height: 50;
        -fx-background-color: #B7D5D4;
}

.button:hover{
    -fx-font: bold 18pt "Helvetica";
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.combo-box:hover {
    -fx-background-color: linear-gradient(#77878B, #CDCDCD);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.combo-box .cell {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#CDCDCD, #77878B);
}

.combo-box .cell:hover {
	-fx-text-fill: #373E40;
    -fx-background-color: white;
}

#backButton {
	-fx-min-width: 50;
	-fx-min-height: 30;
	-fx-border:0;
    -fx-background-color:transparent;
}

#applyButton {
	-fx-background-color: linear-gradient(#364156, #011638);
}

.slider {
	-fx-min-width: 200;
	-fx-control-inner-background: white;
}

.img-view:hover {
    -fx-effect: dropshadow(three-pass-box, white, 30, 0.0 , 0 , 1);
}
