Text {
	-fx-font-family: "Helvetica";
    -fx-font-size: 18;
}
.button {
    -fx-alignment: center;
	-fx-background-radius: 6;
	-fx-background-color: #364156;	
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #011638;
    -fx-text-alignment: center;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
.button:hover{
	-fx-background-color: linear-gradient(#364156, #011638);
	-fx-font: 12px Dekko;
	-fx-font-weight: bold;
}

.button:disabled, .button:disabled > * {
	-fx-opacity: 0.7;
}

.button:hover {
}

.combo-box {
}

.combo-box .cell {
    -fx-font-family: "Helvetica";
    -fx-font-size: 18;
}

.text-field {
}

#screenTitle {
  -fx-alignment: center;
  -fx-font: bold 24pt "Helvetica";
}

#currencyButton {
	-fx-font-family: "Helvetica";
    -fx-font-size: 30;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    
}
#currencyButton{
	
}
#currencyButton:disabled, #currencyButton:disabled > * {
		-fx-opacity: 1.0;
}

#voidButton{

}
#voidButton:disabled, #voidButton:disabled > * {
	-fx-opacity: 1.0;
}

#gamePanel{

}

#newGameButton{

}

