Text {
	  -fx-font: 14pt "Helvetica";
}

.button {
   	  -fx-font: 14pt "Helvetica";
}

.button:disabled, .button:disabled > * {
	-fx-opacity: 0.7;
}

.combo-box .cell {
	  -fx-font: 12pt "Helvetica";
}

.text-field {
}

#screenTitle {
  -fx-alignment: center;
  -fx-font: bold 36pt "Helvetica";
}

#selector {
	-fx-background-color: #488286;
	-fx-font: 14pt "Helvetica";
}

#selector Text {
	  -fx-font: 14pt "Helvetica";
}

#selector HBox, VBox {
	-fx-padding: 10;
	-fx-spacing: 10;
	-fx-background-color: #488286;
}

#selector ComboBox {
	-fx-padding: 10;
	-fx-spacing: 10;
	-fx-background-color: #B7D5D4;
}

#towerHolders {
	-fx-padding: 0;
	-fx-spacing: 0;
}

