Text {
	-fx-font-family: "Georgia";
    -fx-font-size: 18;
}

.button {
    -fx-font-family: "Georgia";
    -fx-font-size: 18;
}

.button:disabled, .button:disabled > * {
	-fx-opacity: 0.7;
}

.button:hover {
}

.combo-box {
}

.combo-box .cell {
    -fx-font-family: "Georgia";
    -fx-font-size: 18;
}

.text-field {
}

#screenTitle {
  -fx-alignment: center;
  -fx-font: bold 24pt "Georgia";
}
