Text {
	  -fx-font: 14pt "Helvetica";
}

.button {
   	  -fx-font: 14pt "Helvetica";
}

.button:disabled, .button:disabled > * {
	-fx-opacity: 0.7;
}

.combo-box .cell {
	  -fx-font: 12pt "Helvetica";
}

.text-field {
}

#screenTitle {
  -fx-alignment: center;
  -fx-font: bold 36pt "Helvetica";
}

@font-face {
	src: url("vcr-sd-mono.ttf");
}

.label {
	-fx-font-family: "VCR OSD Mono";
	-fx-font-size: 24;
	-fx-font-weight: bold;
	-fx-alignment: center;
	-fx-border-width: 2;
	-fx-border-radius: 6;
	-fx-background-radius: 6;
}

.sizebuttons {
        -fx-min-width: 20;
        -fx-min-height: 50;
        -fx-background-color: #B7D5D4;
}

.chart {
	-fx-padding: 20px;
}

.chart-plot-background {
	-fx-background-color: white; 
}

.chart-vertical-grid-lines {
	-fx-stroke: transparent;
}

.chart-horizontal-grid-lines {
	-fx-stroke: transparent;
}

.axis-label {
	-fx-font-size: 18px;
}

#plusButton, #minusButton {
-fx-min-width: 50px;
}

.scroll-pane {
    -fx-border-color: transparent;
}

.scroll-bar:horizontal ,
.scroll-bar:vertical {
    -fx-background-color: transparent;
}
.scroll-bar .increment-arrow ,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #c0bcb6;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover,
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: linear-gradient(to right, #c0bcb6, #aca9a3);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background{
	-fx-background-radius: 2em;
	-fx-border-color: transparent;
}