Text {
	  -fx-font: 14pt "Helvetica";
}

.button {
   	  -fx-font: 14pt "Helvetica";
}

.button:disabled, .button:disabled > * {
	-fx-opacity: 0.7;
}

.combo-box .cell {
	  -fx-font: 12pt "Helvetica";
}

.text-field {
}

#screenTitle {
  -fx-alignment: center;
  -fx-font: bold 36pt "Helvetica";
}

.chart {
	-fx-padding: 20px;
}

.chart-plot-background {
	-fx-background-color: white; 
}

.chart-vertical-grid-lines {
	-fx-stroke: transparent;
}

.chart-horizontal-grid-lines {
	-fx-stroke: transparent;
}

.axis-label {
	-fx-font-size: 18px;
}
