Text {
	  -fx-font: 14pt "Helvetica";
}

.button {
   	  -fx-font: 14pt "Helvetica";
}

.button:disabled, .button:disabled > * {
	-fx-opacity: 0.7;
}

.combo-box .cell {
	  -fx-font: 12pt "Helvetica";
}

.text-field {
}

#screenTitle {
  -fx-alignment: center;
  -fx-font: bold 36pt "Helvetica";
}

@font-face {
	src: url("vcr-sd-mono.ttf");
}

.label {
	-fx-font-family: "VCR OSD Mono";
	-fx-font-size: 24;
	-fx-font-weight: bold;
	-fx-alignment: center;
	-fx-background-color: #B7D5D4;
	-fx-border-width: 2;
	-fx-border-radius: 6;
	-fx-background-radius: 6;
}

.img-view:hover {
    -fx-effect: dropshadow(three-pass-box, black, 40, 0.0 , 0 , 5);
}

.sizebuttons {
        -fx-min-width: 20;
        -fx-min-height: 50;
        -fx-background-color: #B7D5D4;
}