VBox, HBox {
	-fx-background-color: #B7D5D4;
	-fx-padding: 15;
    -fx-spacing: 20;
    -fx-alignment: center; 
}

#or {
	-fx-font-family: "Arial";
    -fx-font-size: 18; 
}

.button, .combo-box {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#CDCDCD, #77878B);
}

.button:hover {
    -fx-background-color: linear-gradient(#77878B, #CDCDCD);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.combo-box:hover {
    -fx-background-color: linear-gradient(#77878B, #CDCDCD);
}

.combo-box .cell {
    -fx-text-fill: white; 
    -fx-background-color: linear-gradient(#CDCDCD, #77878B);
}

.combo-box .cell:hover {
	-fx-text-fill: #373E40;
    -fx-background-color: white;
}

#backButton {
	-fx-border:0;
    -fx-background-color:transparent;
}

#backButton:hover {
}

#applyButton {
	-fx-background-color: linear-gradient(#364156, #011638);
}

#goButton:hover, #applyButton:hover {
	-fx-background-color: linear-gradient(#011638, #364156);
}